* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', Verdana, sans-serif;
}

*:focus {
  outline: none;
}

input {
  width: 350px;
  height: 10px;
  padding: 10px;
  border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
  border: 1px solid #E1E1E1;
}


h1, h4 {
  text-align: center;
  margin: 0 0 15px 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#wrapper {
  max-width: 500px;
  margin: 5% auto;
  padding: 3%;
  border: 1px solid #E1E1E1;
  border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
  box-shadow: inset 0 0 0.5em #E1E1E1;
    -moz-box-shadow: 0 0 1em #E1E1E1;
    -webkit-border-radius: 0 0 1em ##E1E1E1;


}

#add {
  width: 100px;
  height: 35px;
  background: #43CD80;
    background: -moz-linear-gradient(top, #9ce5c3 0%, #43cd80 100%);
    background: -webkit-linear-gradient(top, #9ce5c3 0%, #43cd80 100%);
    background: linear-gradient(to bottom, #9ce5c3 0%,#43cd80 100%);
  margin: 1%;
  border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius:  30px;
  border: 1px solid #4BCC83;
  color: #FFFFFF;
  font-weight: bold;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
}

#clear {
  font-size: 0.9em;
  font-style: italic;
}

#items {
  margin: 4%;
}

.todoItem:hover{
  font-weight: bold;
  cursor: pointer;
}

.strikethrough {
  text-decoration: line-through;
}
